STV_DEBUG=true
STV_ADDRESS=0.0.0.0:6691
STV_DOMAIN_NAME=example.com
# openssl rand -hex 16
STV_ENCRYPTION_KEY=
STV_AD_BYPASS_USERNAME=admin
STV_AD_BYPASS_PASSWORD='bypass'
STV_FORCE_RESET_URL_ENDPOINT='force-remove'
STV_MAIL_HOST=smtp.gmail.com
STV_MAIL_USERNAME=no-reply@nouse.co.uk
STV_MAIL_PASSWORD=""
STV_MAIL_PORT=587
STV_MAIL_DEFAULT_TO=no-reply@nouse.co.uk
STV_AD_PORT=0
STV_AD_SECURITY=0